<!DOCTYPE html>
<html>
<head>
  <title></title>
</head>
<body>
  <div class="container">
    <h1>Seja bem vindo ao restaurante </h1> <h2> <%= @restaurants.name %></h2>
    <h3> Endereço: </h3> <%= @restaurants.address %>
    <h3> Telefone: </h3> <%= @restaurants.phone_number %>
    <h3> Categoria: </h3> <%= @restaurants.category %>
  </div>
  <br><br><br>

  <br><br>

    <div class="link">
      <%= link_to "Retorne a Página Principal", restaurants_path %>
    </div>
</body>
</html>
